
@model PharmacieCodeFirstASPNET.ViewModel.WeatherViewModel


@{
    ViewBag.Title = "Ajouter les produits";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm())
{
    @Html.DisplayNameFor(m => m.codezip)
    @Html.EditorFor(m => m.codezip)

    <input type="submit" value="rechercher meteo" class="btn btn-default" />
}


<div>
    @Model.NomVille
</div>

<div>
    @Model.Temperature
</div>