@model PharmacieCodeFirstASPNET.Models.Produit

@{
    ViewBag.Title = "Ajouter un Produit";
}



@using (Html.BeginForm())
{
    <fieldset>
        <legend>Ajouter un produit</legend>
        <div class="form-horizontal">
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.LabelFor(m => m.NomProduit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.NomProduit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.NomProduit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Prix_Unite, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Prix_Unite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Prix_Unite, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Quantite, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Quantite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Quantite, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Date_heure_ajout, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Date_heure_ajout, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Date_heure_ajout, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Image, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="valider" class="btn btn-default" />
                </div>
            </div>
        </div>
    </fieldset>


    <h2>Historique d'ajout de produits</h2>

    <div id="HistoProduit">
        @{
            Html.RenderAction("HistoriqueProduit");
        }
    </div>

    @Ajax.ActionLink("Actualiser Historique", "HistoriqueProduit", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "HistoProduit",
    HttpMethod = "GET"
})
}

@section Menu
    {
    <ul class="nav navbar-nav">
        <li >@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li class="selectionne">@Html.ActionLink("Ajouter les produits", "AjoutProduit", "Produit")</li>
        <li>@Html.ActionLink("Recherche produit", "Recherche", "Recherche")</li>
        <li>@Html.ActionLink("Profil", "Index", "Client")</li>
    </ul>
}