@model PharmacieCodeFirstASPNET.Models.Produit

@{
    ViewBag.Title = "DetailsProduitClient";
}

<h2>DetailsProduitClient</h2>

<div>
    <h4>Produit</h4>
    <br />
    <dl class="dl-horizontal">
        @*<dt>@Html.DisplayNameFor(model => model.Image)</dt>*@

        <dd>
            <img src=@Model.Image alt="image du @Model.NomProduit" width="150" />
        </dd>

        <dt>@Html.DisplayNameFor(model => model.NomProduit)</dt>

        <dd>@Html.DisplayFor(m => m.NomProduit)</dd>

        <dt>@Html.DisplayNameFor(model => model.Prix_Unite)</dt>

        <dd>@Html.DisplayFor(m => m.Prix_Unite)</dd>

        <dt>@Html.DisplayNameFor(model => model.Quantite)</dt>

        <dd>@Html.DisplayFor(m => m.Quantite)</dd>

        <dt>@Html.DisplayNameFor(model => model.Date_heure_ajout)</dt>

        <dd>@Html.DisplayFor(m => m.Date_heure_ajout)</dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Retour au panier", "Index", "Achat", null, new { @class="btn btn-primary"})
    @Html.ActionLink("Continuer l'achat", "Index", "Home",null, new { @class="btn btn-success"})
</p>
