@model IEnumerable<PharmacieCodeFirstASPNET.Models.Produit>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.NomProduit)</th>

            <th>@Html.DisplayNameFor(m => m.Image)</th>
            <th>@Html.DisplayNameFor(m => m.Prix_Unite)</th>
            <th>@Html.DisplayNameFor(m => m.Quantite)</th>
            <th>@Html.DisplayNameFor(m => m.Date_heure_ajout)</th>
        </tr>
        @{
            foreach (var liste in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelListe => liste.NomProduit)</td>
                    <td>@Html.DisplayFor(modelListe => liste.Image)</td>
                    <td>@Html.DisplayFor(modelListe => liste.Prix_Unite) €</td>
                    <td>@Html.DisplayFor(modelListe => liste.Quantite)</td>
                    <td>@Html.DisplayFor(modelListe => liste.Date_heure_ajout)</td>
                    
                    <td>
                        @Html.ActionLink("Modifier", "ModifierProduit", "Produit", new { id = liste.Id }, null)
                        @Html.ActionLink("Détails", "DetailsProduit", "Produit", new { id = liste.Id }, null)
                        @Html.ActionLink("Supprimer", "SupprimerProduit", "Produit", new { id = liste.Id }, null)
                    </td>
                </tr>
            }
        }
    </table>  