@model PharmacieCodeFirstASPNET.Models.Produit

@{
    ViewBag.Title = "SupprimerProduit";
}

<h2>SupprimerProduit</h2>

<div>
<h4>Ëtes vous sûr de vouloir supprimé?</h4>
<br />
<dl class="dl-horizontal">
    <dd>
        <img src=@Model.Image alt="image du @Model.NomProduit" width="150" />
    </dd>
    <dt>@Html.DisplayNameFor(model => model.NomProduit)</dt>

    <dd>@Html.DisplayFor(m => m.NomProduit)</dd>

    <dt>@Html.DisplayNameFor(model => model.Prix_Unite)</dt>

    <dd>@Html.DisplayFor(m => m.Prix_Unite)</dd>

    <dt>@Html.DisplayNameFor(model => model.Quantite)</dt>

    <dd>@Html.DisplayFor(m => m.Quantite)</dd>

    <dt>@Html.DisplayNameFor(model => model.Date_heure_ajout)</dt>

    <dd>@Html.DisplayFor(m => m.Date_heure_ajout)</dd>

</dl>
</div>
@using (Html.BeginForm())
{
    <input type="submit" value="Supprimer" class="btn btn-danger" /> 
    Html.ActionLink("retour à la liste", "AjouterProduit");
}