@model PharmacieCodeFirstASPNET.ViewModel.HistoriqueClientViewModel

@{
    ViewBag.Title = "HistoriqueCommandeClient";
}

<h2>HistoriqueCommandeClient</h2>

<table class="table">
    <tr>
        <th>Date et heure </th>
        <th>Nom produit </th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Prix total</th>
    </tr>

    @foreach (var li in Model.ListeCommande)
    {
<tr>
    <td>

        @li.heure_commande

    </td>

    <td>
        <table>
            @foreach (var la in li.Achats)
            {
                <tr>
                    <td>@Html.ActionLink(@la.Stock.NomProduit_stock, "DetailsProduitClient", "Produit", new { id = la.Stock.Id }, null)</td>
                </tr>
            }
        </table>
    </td>


    <td>
        <table>
            @foreach (var l in li.Achats)
            {
                <tr>
                    <td>@l.Quantite_Totale</td>
                </tr>
            }
        </table>
    </td>
    <td>
        <table>
            @foreach (var l in li.Achats)
            {
                <tr>
                    <td>@l.Prix_Total €</td>
                </tr>
            }
        </table>
    </td>
    <td>
       
        @li.Achats.Sum(p =>p.Prix_Total) €
    </td>

</tr>
    }

    </table>
@Html.ActionLink("Retour à l'acceuil", "Index","Home",null, new { @class="btn btn-primary" })